# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# PyPI configuration file
.pypirc

# PTD Launcher specific
*.swf
flashplayer_sa.exe
*.bak
ptdlauncher.log
user_settings.json
versions.json

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
